{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<br />
<h1>Notes</h1>
<br />
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="table-col1">Category</th>
        <th class="table-col2">Item</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="note-list">
      {% for note in user.notes %}
      <tr>
        <td style="text-align:center;"><span class="badge badge-pill table-size category-badge"
            data-category="{{ note.category }}">{{ note.category
            }}</span></td>
        <td><span class="table-size">{{ note.data }}</span></td>
        <td><button type="button" class="close" onClick="deleteNote({{ note.id }})"><span
              aria-hidden="true">&times;</span></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<form method="POST">
  <div id="note_input">
    <select name="category" id="category" class="form-control">
      <option value="" selected disabled>Select a category</option>
      <option value="Personal">Personal</option>
      <option value="Work">Work</option>
      <option value="Study">Study</option>
      <option value="Other">Other</option>
    </select>
    <input type="text" name="note" id="note" class="form-control" placeholder="Note..."></input>
  </div>
  <br />
  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}